<!DOCTYPE html>
<html>

<head>
  <title>Lisää elokuva</title>
</head>

<body>
  <h1>Lisää elokuva</h1>
  <form action="/add_movie" method="post">
    <p>Elokuvan nimi: <br />
      <textarea name="name" rows="1" cols="50"></textarea>
    </p>
    <p>Vuosi: <br />
      <textarea name="year" rows="1" cols="4"></textarea>
    </p>
    <p>Valitse genre(t):</p>
    <p>
      <input type="checkbox" name="genre" value="Draama" /> Draama
      <input type="checkbox" name="genre" value="Komedia" /> Komedia
    </p>
    <p>Kuvaus: <br />
      <textarea name="description" rows="3" cols="50"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  <p><a href="/">Takaisin etusivulle</a></p>
</body>

</html>